<div class="sign-up-page">
  <h2>Sign up here</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",  placeholder: 'Your Email' %>
    </div>

    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name",  placeholder: 'Your Name' %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
      <% @min = @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password #{@min} characters minimum" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'confirm password' %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>