<%= link_to "/users/#{user.id}" do %>
 <div class='user-page'>
    <div class='users'>
      <div class='img'>
        <img  src="<%= user.photo %>" width="100" height="100" alt="Profile picture">
      </div>
      <div>
        <div class='main'>
          <h1 class='name'> <%= link_to user.name, user_path(user) %> </h1>
          
            <%= render layout: "shared/tag" do %>
              <p class='counter'> Number of posts: <%= user.posts_counter %> </p>
            <% end %>
        
        </div>
      </div>
    </div>
  </div>
<% end %>
