<div >
  <div class="posts">
    <div>
      <h2 class='name'>
      Post
        <span class="name">By <%= @posts.user.name %></span>
      </h2>
      <div>
        <%= render layout: "shared/tag" do %>
          <%= @posts.comments_counter %> Comments
        <% end %>
        <%= render layout: "shared/tag" do %>
          <%= @posts.likes_counter %> Likes
        <% end %>
      </div>
    </div>
    <p><%= @posts.title %></p>
    <p><%= @posts.text %></p>
  </div>
  <div class="posts">
  <span class="name"> Comments By <%= @posts.user.name %></span>
    <%= render partial: 'shared/comment', collection: @posts.user.comments  %>
  </div>
</div>
     