<div >
  <div class="posts">
    <div>
      <h2 class='name'>
      Post
        <span class="name">By <%= @post.user.name %></span>
      </h2>
      <div>
        <%= render layout: "shared/tag" do %>
          <%= @post.comments_counter %> Comments
        <% end %>
        <%= render layout: "shared/tag" do %>
          <%= @post.likes_counter %> Likes
        <% end %>
      </div>
    </div>
    <p><%= @post.title %></p>
    <p><%= @post.text %></p>
  </div>
  <div>
    <%= render partial: 'likes/form',  locals: { post: @post }  %>
  </div>
  <div class="posts">
  <span class="name"> Comments By <%= @post.user.name %></span>
    <%= render partial: 'shared/comment', collection: @comments  %>
  </div>
  <div class='add-comment'>
    <%= render partial: 'comments/form', locals: { post: @post }  %>
  </div>
</div>
     